@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Jua&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    position: relative;
}

.left {
    background-color: #EA5425; /* Fondo naranja */
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    position: relative;
}

.content {
    color: white;
    width: 80%; /* Ajusta según sea necesario */
    text-align: left;
    position: relative;
}

.icon {
    width: 200px; /* Ajusta el tamaño del icono */
    position: absolute;
    bottom: 90%; /* Ajusta la posición del icono */
    left: 50%;
    transform: translateX(-50%);
}

.titulo {
    font-size: 45px; /* Ajusta el tamaño del título */
    font-weight: 100;
    margin-bottom: 20px;
    position: relative;
    margin-top: 20px; /* Ajusta el margen superior */
    font-family: 'Lilita One', sans-serif;
    line-height: 1.9;
    letter-spacing: 1.5px;
    text-align: center;
}

.p1, .p2 {
    font-size: 30px; /* Ajusta el tamaño del texto */
    margin-bottom: 20px;
    position: relative;
    line-height: 1.9;
    letter-spacing: 1.5px;
    font-family: 'Lilita One', sans-serif;
    text-align: center;
    text-align: left;
}

.social-icons {
    margin-top: 20px; /* Ajusta según sea necesario */
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    gap: 50px;
}

.social-icons img {
    width: 70px; /* Ajusta el tamaño de los iconos de redes sociales */
    margin: 0 10px; /* Espaciado entre los iconos */
    margin-top: 80px;
    filter: invert(1);
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    fill: invert(0);
    transform: scale(1.2);
}

.right {
    background-color: #FFFFFF; /* Color blanco */
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center; /* Centra el contenido verticalmente */
    position: relative;
}

.circle {
    width: 200px; /* Ajusta el tamaño del círculo */
    height: 190px; /* Ajusta el tamaño del círculo */
    background-color: #ffffff; /* Color del círculo */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(100% - 0px); /* Ajusta la posición del círculo */
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 100;
}

.logo {
    width: 60%; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción del logo */
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
}

.boton {
    width: 150px; /* Ajusta el tamaño del rectángulo */
    height: 70px; /* Ajusta el tamaño del rectángulo */
    background-color: #EA5425; /* Color del rectángulo */
    border-radius: 50px; /* Ajusta el borde redondeado */
    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    position: relative;
    left: 10%;
}

.pdf {
    color: white;
    text-align: center;
    font-family: 'Lilita One', sans-serif;
    font-weight: 200;
    letter-spacing: 1.5px;
    transition: transform 0.3s ease;
}

.pdf:hover {
    transform: scale(1.1);
}

/* Estilos responsivos */
@media (max-width: 1200px) {
    .boton {
        width: 120px; /* Ajusta el tamaño del botón */
        height: 40px; /* Ajusta el tamaño del botón */
    }
    
    .pdf {
        font-size: 14px; /* Ajusta el tamaño del texto */
    }
}

/* Ajustes para pantallas medianas */
@media (max-width: 1406px){
    .icon {
        top: -25%; /* Ajusta la posición del icono */
        width: 25%;
        height: auto;
    }
    .circle{
        width: 190px; /* Ajusta el tamaño del círculo */
        height: 170px; 
    }

    .titulo {
        font-size: 33px; /* Ajusta el tamaño del título */
        margin-top: 10px; /* Ajusta el margen superior */
    }

    .p1,.p2 {
        font-size: 28px;
    }
    .social-icons {
        position: relative; /* Cambia a relative para mantener la posición dentro del contenedor */
        margin-top: 20px; /* Añade un margen superior */
        top: auto; /* Elimina la posición superior */
    }

    .social-icons img {
        width: 70px; /* Ajusta el tamaño de los iconos de redes sociales */
        height: auto;
        margin-bottom: -150%;
    }

    .boton {
        width: 140px; /* Ajusta el tamaño del botón */
        height: 60px; /* Ajusta el tamaño del botón */
    }

    .pdf {
        font-size: 14px; /* Ajusta el tamaño del texto */
    }
}

@media (max-height: 750px){
    .icon {
        top: -15%; /* Ajusta la posición del icono */
        width: 20%;
        height: auto;
    }
    .circle{
        width: 190px; /* Ajusta el tamaño del círculo */
        height: 170px; 
    }

    .titulo {
        font-size: 30px; /* Ajusta el tamaño del título */
        margin-top: 10px; /* Ajusta el margen superior */
    }

    .p1,.p2 {
        font-size: 26px;
    }
    .social-icons {
        position: relative; /* Cambia a relative para mantener la posición dentro del contenedor */
        margin-top: 20px; /* Añade un margen superior */
        top: auto; /* Elimina la posición superior */
    }

    .social-icons img {
        padding-bottom: 10px;
        width: 55px; /* Ajusta el tamaño de los iconos de redes sociales */
        height: auto;
        margin-bottom: -10%;
    }

    .boton {
        width: 140px; /* Ajusta el tamaño del botón */
        height: 60px; /* Ajusta el tamaño del botón */
    }

    .pdf {
        font-size: 14px; /* Ajusta el tamaño del texto */
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 992px) {
    .container {
        flex-direction: column;
        height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    }

    .left, .right {
        width: 100%;
        height: 50vh; /* Ajusta la altura de cada sección para evitar el scroll */
    }

    .icon {
        top: 5%; /* Ajusta la posición del icono */
    }

    .social-icons {
        position: relative; /* Cambia a relative para mantener la posición dentro del contenedor */
        margin-top: 10px; /* Añade un margen superior */
    }

    .social-icons img {
        width: 40px; /* Ajusta el tamaño de los iconos de redes sociales */
    }

    .titulo {
        font-size: 30px; /* Ajusta el tamaño del título */
        margin-top: 10px; /* Ajusta el margen superior */
    }

    .boton {
        width: 100px; /* Ajusta el tamaño del botón */
        height: 35px; /* Ajusta el tamaño del botón */
    }

    .pdf {
        font-size: 12px; /* Ajusta el tamaño del texto */
    }
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    }

    .left, .right {
        width: 100%;
        height: 50vh; /* Ajusta la altura de cada sección para evitar el scroll */
    }

    .icon {
        top: 5%; /* Ajusta la posición del icono */
    }

    .social-icons {
        position: relative; /* Cambia a relative para mantener la posición dentro del contenedor */
        margin-top: 20px; /* Añade un margen superior */
        top: 20px; /* Elimina la posición inferior */
    }

    .social-icons img {
        width: 40px; /* Ajusta el tamaño de los iconos de redes sociales */
    }

    .titulo {
        margin-top: 10px; /* Ajusta el margen superior */
    }
}